<!DOCTYPE html>
<html>
  <head>
    <title><%#= yield(:title) %> Rapid Application development assignment </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/header'%>
  <div class = container>
    <body>
      <div id = "alert-messages">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    
      <%= yield %>
      <%#= render 'layouts/footer'%>   
    </body>
  </div>

  <%= render 'layouts/footer'%> 
    
    
  

</html>
