<div id = 'sidebar'>
    <%= render 'settings_sidebar'%>
</div>

<div id="Comments">
<h2>My Comments</h2>
<table id="profTable">
  <% @comments.each do |comment| %>
    <% post = nil %>
    <% @allPosts.each do |poster| %>
      <% if poster.id == comment.pID
        post = poster
      end %>
    <% end %>
    <tr>
      <td>
        <span id="commentIntro"><%= comment.created_at.to_date %> in <%= link_to post.title, post, title: post.title%> comment:</span>
        <span id="commentContent"><%=  comment.content%></span> <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
</div>